<!DOCTYPE html>
<html>
    <head>    
        <!--META-->
    </head>
    <body>
        <div>
            @await Component.InvokeAsync("Header")

            @RenderBody()

            @await Component.InvokeAsync("Footer")
        </div>
    </body>
</html>
