<!DOCTYPE html>
<html>
    <head>    
        <!--META-->
    </head>
    <body>
        <div>
            <!--HEADER-->

            @RenderBody()

            <!--FOOTER-->
        </div>
    </body>
</html>
