@model DeleteBoilerplate.GenericComponents.Models.Footer.FooterViewModel;

<footer>
    <p><b>@Model.Text</b></p>
    <p>
        <ul>
            @if (Model.SocialLinks.Any())
            {
                foreach (var socialLink in Model.SocialLinks)
                {
                    <li><a href="@socialLink.Url"><img src="@socialLink.Icon" alt="@socialLink.Title" width="45" height="45" /></a></li>
                }
            }
        </ul>
    </p>
</footer>




