@model DeleteBoilerplate.GenericComponents.Models.Footer.FooterViewModel;

<footer>
    <p><b>@Model.Text</b></p>
    <p>
        <ul>
            @foreach (var socialLink in Model.SocialLinks)
            {
                <li>@socialLink.Title</li>
            }
        </ul>
    </p>
</footer>




